<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library_PublishingCompany</title>
    <script src="http://localhost:8080/js/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:8080/js/my_axios.js"></script>
    <script src="http://localhost:8080/js/publishingCompany.js"></script>
    <link rel="icon" href="http://localhost:8080/res/index.ico">
    <link rel="stylesheet" href="http://localhost:8080/css/all.css">
</head>
<body class="my_body">
    <div class="home_header">
        <a href="/doc.html"><img class="home_img"></a>
        <a class="home_a" href="/home">Library_MySQL</a>
    </div>
    <div class="link_div">
        <a href="/author/authorHome" class="a_link">作者</a>
        <a href="/bookBorrowTable/bookBorrowTableHome" class="a_link">借书表</a>
        <a href="/book/bookHome" class="a_link">书籍</a>
        <a href="/jointAuthorTable/jointAuthorTableHome" class="a_link">共同作者表</a>
        <a href="/publishingCompany/publishingCompanyHome" class="a_link">出版社</a>
        <a href="/reader/readerHome" class="a_link">读者</a>
        <a href="/tag/tagHome" class="a_link">标签</a>
    </div>
    <div class="home_div">
        <table class="publishingCompany_table"></table>
    </div>
</body>
</html>
