<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <script src="http://localhost:8080/js/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:8080/js/my_axios.js"></script>
    <script src="http://localhost:8080/js/reader.js"></script>
    <link rel="icon" href="http://localhost:8080/res/index.ico">
    <link rel="stylesheet" href="http://localhost:8080/css/all.css">
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" crossorigin="anonymous">-->
</head>
<body class="my_body">
    <div class="home_header">
        <img class="home_img">
        <p class="home_p">Library_MySQL</p>
    </div>
    <div class="home_div">
        <table class="tag_table"></table>
    </div>
</body>
</html>
