<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showTag</title>
</head>
<body>
    <div style="width: 420px; margin: 52px auto; padding: 7px;background-color: rgba(23, 23, 23, 0.3)">
        <table>
            <th style="padding-left: 52px; width: 42px">ID</th>
            <th style="padding-left: 52px; width: 233px">名称</th>
            <tr th:each="tag : ${tags}">
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${tags.tagId}"></td>
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${tags.tagName}"></td>
            </tr>
        </table>
        <a href="/tag/searchTag" style="position: relative; left: 40%; line-height: 64px; text-decoration: none">return</a>
        <a href="/" style="position: relative; left: 50%; text-decoration: none">home</a>
    </div>
</body>
</html>