<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showPublishingCompany</title>
</head>
<body>
    <div style="width: 520px; margin: 52px auto; padding: 7px 52px 7px 7px;background-color: rgba(23, 23, 23, 0.3)">
        <table>
            <th style="padding-left: 52px; width: 42px">ID</th>
            <th style="padding-left: 52px; width: 160px">出版社名称</th>
            <th style="padding-left: 52px; width: 42px">电话号</th>
            <th style="padding-left: 52px; width: 320px">地址</th>
            <tr th:each="publishingCompany : ${publishingCompanys}">
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${publishingCompanys.publishingCompanyId}"></td>
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${publishingCompanys.publishingCompanyName}"></td>
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${publishingCompanys.publishingCompanyTelephoneNumber}"></td>
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${publishingCompanys.publishingCompanyAddress}"></td>
            </tr>
        </table>
        <a href="/publishingCompany/searchPublishingCompany" style="position: relative; left: 40%; line-height: 64px; text-decoration: none">return</a>
        <a href="/" style="position: relative; left: 50%; text-decoration: none">home</a>
    </div>
</body>
</html>