<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showReader</title>
</head>
<body>
    <div style="width: 520px; margin: 52px auto; padding: 7px 52px 7px 7px;background-color: rgba(23, 23, 23, 0.3)">
        <table>
            <th style="padding-left: 52px; width: 42px">ID</th>
            <th style="padding-left: 52px; width: 160px">姓名</th>
            <th style="padding-left: 52px; width: 160px">性别</th>
            <th style="padding-left: 52px; width: 160px">年龄</th>
            <th style="padding-left: 52px; width: 160px">存款</th>
            <tr th:each="reader : ${readers}">
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${readers.readerId}"></td>
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${readers.readerName}"></td>
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${readers.readerSex}"></td>
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${readers.readerAge}"></td>
                <td style="padding-left: 52px;width: 42px;text-align: center;" th:text="${readers.saving}"></td>
            </tr>
        </table>
        <a href="/reader/searchReader" style="position: relative; left: 40%; line-height: 64px; text-decoration: none">return</a>
        <a href="/" style="position: relative; left: 50%; text-decoration: none">home</a>
    </div>
</body>
</html>