.my_body {
    background-color: #cde;
}

.main {
    margin: 10% auto;
    width: 80%;
    text-align: center;
}

.home_header {
    width: 42%;
    margin: 0 auto;
    padding-left: 23%;
}

.home_img {
    margin: 0 auto;
    width: 52px;
    content: url("http://localhost:8080/res/index.jpg")
}

.home_a {
    text-decoration: none;
    display: inline;
    color: #aff;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 1.7%;
    margin-left: 1.7%;
    -webkit-text-stroke: 2px #ffa;
}

.link_div {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 3px solid #095;
    top: 23%;
    width: 7%;
}

.a_link {
    margin: 3% 1%;
    padding: 7% 2%;
    text-decoration: none;
    color: #b9f;
    font-family: serif;
    background: #eff;
    font-size: 20px;
}

.home_div {
    margin: 16px auto;
    padding: 7px;
    width: 80%;
    min-height: 800px;
    background-color: rgba(233, 233, 233, 0.7);
    border: 3px rgba(64, 160, 160, 0.64) dotted;
}

#search_string {
    display: inline-block;
    position: relative;
    margin: 3% 0 0 27%;
    width: 42%;
    height: 32px;
    border-radius: 0.3em;
    align-self: center;
    font-size: 24px;
    line-height: 32px;
    font-family: "Rage Italic", serif;
    color: #ace;
    padding-left: 1%;
}

#search {
    width: 111px;
    line-height: 32px;
    border-radius: 2.3em;
    color: #567;
    font-family: system-ui;
    background: #bdf;
    font-size: 20px;
    position: absolute;
    top: 16.7%;
    left: 66.7%;
}

#search:hover {
    background-color: #def;
}

#search:active {
    background-color: #aee;
}

.search_result_title {
    display: block;
    margin: 1% 10% 0;
    font-size: 32px;
    font-family: "Adobe Devanagari", serif;
    color: #765;
    -webkit-text-stroke: 1px #123;
    text-shadow: 2px 2px #8ac;
}

#search_result {
    width: 80%;
    height: 80%;
    background-color: transparent;
    font-family: "Adobe Devanagari", serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 7px 13px;
}

.search_result_emptyHind {
    list-style: none;
    font-size: 250%;
    font-family: "Agency FB", serif;
    text-align: center;
}

#search_result .hint_p {
    color: #88f;
    padding-right: 520px;
    text-align: center;
    border: 1px solid #48c;
}

.search_result_table {
    width: 100%;
}

.search_result_content {
    list-style: none;
    font-size: 16px;
    font-family: "Rage Italic", serif;
    text-align: center;
}

.search_result_content > td {
    padding: 3px 7px 7px;
}

.search_result_content p {
    display: inline-block;
    width: 52px;
    text-align: center;
}

.author_table {
    width: 80%;
    margin: 4% auto;
    border: 4px solid #159;
}

.bookBorrowTable_table {
    width: 80%;
    margin: 4% auto;
    border: 4px solid #159;
}

.book_table {
    width: 100%;
    margin: 4% auto;
    border: 4px solid #159;
}

.jointAuthorTable_table {
    width: 80%;
    margin: 4% auto;
    border: 4px solid #159;
}

.publishingCompany_table {
    width: 80%;
    margin: 4% auto;
    border: 4px solid #159;
}

.reader_table {
    width: 80%;
    margin: 4% auto;
    border: 4px solid #159;
}

.tag_table {
    width: 80%;
    margin: 4% auto;
    border: 4px solid #159;
}

table button {
    border: 1px solid #2333;
    border-radius: 0.3em;
    font-size: 14px;
    font-family: ui-sans-serif;
}

table button:hover {
    opacity: 0.7;
}

table button:active {
    opacity: 0.9;
}

.table_button_update {
    background-color: #ace;
    margin-top: 7px;
    margin-right: 2px;
}

.table_button_delete {
    background-color: #d44;
    margin-top: 7px;
    margin-left: 2px;
}
