<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library_mysql.mapper.ReaderMapper">

    <resultMap id="BaseResultMap" type="com.example.library_mysql.domain.Reader">
        <id property="readerId" column="reader_id" jdbcType="INTEGER"/>
        <result property="readerName" column="reader_name" jdbcType="VARCHAR"/>
        <result property="readerSex" column="reader_sex" jdbcType="INTEGER"/>
        <result property="readerAge" column="reader_age" jdbcType="INTEGER"/>
        <result property="saving" column="saving" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
    </resultMap>

    <update id="recoveryById">
        update reader
        set is_deleted = 0
        where reader_id = #{id}
    </update>
</mapper>
